[Unit]
Description=backend

[Service]
ExecStart=/root/server/backend/dist/main.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/root/server/backend/dist

[Install]
WantedBy=multi-user.target